body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#fileList {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    cursor: pointer;
}
